body {
	background-image: url('../images/assign1-background.jpg');
}

h1, h2, h3, h4 {
	color: #eee;
}

#tableSample th {
	color: yellow;
	font-size: 14px;
	background-color: blue;
}

.content {
	background-color: #eee;
	padding: 15px;
	border: 1px solid #ccc;
}