body#home {
	padding-top: 50px;
}

body#lab1 {
	background-color: #fafafa;
}

.jumbotron {
	margin: 15px 0;
}

.red {
	color: red;
}

#tableSample.table > tbody > tr > td {
	vertical-align: middle;
}

#tableSample.table > tbody > tr > td[rowspan] {
	text-align: center;
}